

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1}
  }

 .jumbotron {
   animation-name: fade-in;
   animation-duration: 4s; 
}



.card{
    position: relative;
}
.badge{
    width: 35%;
    
    position: absolute;
    font-size: 12px;
    padding-bottom:0.5rem ;
    padding-top:0.5rem ;
}

tr:nth-child(even){
    background-color: rgb(228, 222, 222);
}

td .btn{
    opacity: 0;
    transition: 0.3s ;   
}

tr:hover .btn{
    opacity: 1;
}

.add-btn{
    transition: box-shadow 0.3s ease-in-out;
    
    
}

.add-btn:hover {
    box-shadow:  10px 5px 5px rgb(128, 124, 124);
}